.Error {
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(35, 35, 35);
    color: #E3FF73;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.h3Error{
}

.h3Error:hover{
color:#FFFFFF;
}

.pError{
    color:#7F7F80;

}

.pError:hover{
color:#FFFFFF;
}