body {
    background-color: rgb(32, 32, 32);
    background-image: url("../../img/doodle2.png");
    background-repeat: repeat;
    height: 200px;
    background-origin: content-box padding-box;
    background-position: 50% 50%;
    background-size: cover;
}

.producto {
  color: #ece5dd;
  background-color:#075e54ee;
  border: 1px solid #25d366;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 8px 5px 5px 2px rgb(24, 24, 24); 
  text-shadow: 2px 2px 5px black;
  cursor: pointer;
  margin: 20px 20px ;
}

.producto:hover{
  background-color:#075e54;
}

p{
  color: #ece5dd;
  text-align: center;
  margin: 5px;
  padding: 1px;
}



.thumbnail {
  height: 100px;
}

.boton{
  cursor: pointer;
  font-size: 1em;
  color: #ece5dd;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #ffffff5b;
  width: auto;
  height: 50px;
  margin: 20px;
  padding: 15px;
  border-radius:20px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
    background-color: #075e54ee;
}

.boton:hover {
  color: white;
  background: rgba(255, 255, 255, 0.185);
  transition: all 0.3s ease;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px #0000008f;
}

.carousel{
  margin: 10px;
  padding: 15px;
}

img{
  margin: 1px;
  padding: 1px;
  width: 40%; 
}
