.Home {
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #1D1D1D;
    color: #E3FF73;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
}

.h1Home{
 border: solid 1px #E3FF73;
 border-radius: 10px;
 padding: 30px 30px;
}

.h1Home:hover{
border-color: #FFFFFF;
color:#FFFFFF;
}

.pHome{
    border: solid 1px #E3FF73;
 border-radius: 10px;
    padding: 30px 30px;
color:#7F7F80;
}

.pHome:hover{
    border-color: #FFFFFF;
color:#FFFFFF;
}