.divNav{
    height: 100px;
    border-bottom: 1px solid darkorange;
}
.links{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(35, 35, 35);
    list-style-type: none;

}

.Link{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    color: antiquewhite;
    text-decoration: none;
}

.Link:hover{
    color: darkorange;
}


