.divNav{
    height: 150px;
    border-bottom: 5px solid green;
    
}
.links{
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #90619e;
}

.Link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2em
}

.Link:hover{
    color: rgb(170, 236, 170);
}